body{
background-color: rgb(221, 221, 120);
background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pdproject22batch10-por-02-l.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=723944f86c1371e9019486f3ca99d5e5');
background-position: center;
background-repeat: none;
background-size:cover;
}

h1 {
font-size: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;

}

section{
 border:3px black solid;
 width:30%;
 margin-left:35%;
 background-color: rgb(221, 120, 125);

}

h4{
  text-align: center;
  text-decoration: underline;
}

.todolist {
list-style-type:none;
margin-left:5%;

}

.top{
  padding-bottom:2%;
}

form{
margin-left:20%;
font-size: 18px;
}

input{
  width:60%;

}

.taskList{
  margin-left:10%;
}

.right{
  float:right;
}
